body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-image: url("../imgs/WoWA.png");
    background-position: top;
    margin: 0;
    padding: 0;
}
#link{
    border: none;
    color: lightblue;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.25s;
}
#link:hover{
    color: white;
}
